.demo-blog .brown-color .mdl-card__media {
    background-color: #795548;
}
.demo-blog .red-color .mdl-card__media {
    background-color: #F44336;
}
.demo-blog .pink-color .mdl-card__media {
    background-color: #E91E63;
}
.demo-blog .purple-color .mdl-card__media {
    background-color: #9C27B0;
}
.demo-blog .blue-color .mdl-card__media {
    background-color: #2196F3;
}
